*,
*::before,
*::after {
  box-sizing: border-box;

  // border: 1px solid violet;
}

body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  min-height: 100vh;
  // height: 100%;
  // width: 100%;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  border-radius: 5px;
  padding-block-start: 5px;
  padding-block-end: 7px;
  padding-inline: 5px;
  margin: 2px;
  cursor: pointer;
  // background: none;
}

button:hover {
  background: blue;
}

// .canvas__wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-inline: auto;
// }

#carCanvas {
  background: lightgray;
}

#networkCanvas {
  background: black;
}
